.damier_cascade {
  background: url("../images/decors/motifs/cascade.gif") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_eau {
  background: url("../images/decors/motifs/eau.gif") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_champs {
  background: url("../images/decors/motifs/champs.png") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_savane {
  background: url("../images/decors/motifs/savane.gif") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_neige,
.damier_paradis {
  background: url("../images/decors/motifs/neige.png") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_dallage {
  background: url("../images/decors/motifs/dallage.gif") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_mur_bas_vertical {
  background: url("../images/decors/motifs/mur_vertical_b.png") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_mur {
  background: url("../images/decors/motifs/mur.gif") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_mur_centre_vertical {
  background: url("../images/decors/motifs/mur_vertical_c.png") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_mur_haut_vertical {
  background: url("../images/decors/motifs/mur_vertical_h.png") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_montagne {
  background: url("../images/decors/motifs/montagne.png") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_pont {
  background: url("../images/decors/motifs/pont.png") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_roche-lave,
.damier_enfer {
  background: url("../images/decors/motifs/roche-lave.png") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_lave {
  background: url("../images/decors/motifs/lave.gif") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_sable {
  background: url("../images/decors/motifs/sable.png") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_herbehaute {
  background: url("../images/decors/motifs/herbehaute.png") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_route {
  background: url("../images/decors/motifs/route.png") no-repeat;
  width: 45px;
  height: 39px;
}
.damier_foret,
.damier_terre,
.damier_herbe {
  background: url("../images/decors/motifs/herbe.png") no-repeat;
  width: 45px;
  height: 39px;
}
