.presentation {
	width: 600px;
	background-color: @fond;
	border: 1px solid gray;
	padding: 15px;
	box-shadow: 2px 2px 10px gray inset;
	-moz-box-shadow: 2px 2px 10px gray inset;
	-webkit-box-shadow: 2px 2px 10px gray inset;
}

.creation_ange, .creation_humain, .creation_demon {
	min-height: 500px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.creation_ange {
	background-image: url(@{root}/images/races/circle_ange.png)
}

.creation_humain {
	background-image: url(@{root}/images/races/circle_humain.png)
}

.creation_demon {
	background-image: url(@{root}/images/races/circle_demon.png)
}