
@import "couleurs.less";
@import "fontface.less";

@fonttext: DejaVuSansBook;
@fonttextB: DejaVuSansBold;
@fonttextI: DejaVuSansOblique;
@fonttextBI: DejaVuSansBoldOblique;

@fonttitle: DejaVuSerifBook;
@fonttitleB: DejaVuSerifBold;
@fonttitleI: DejaVuSerifOblique;
@fonttitleBI: DejaVuSerifBoldOblique;

html, body {
    height: 100%;
}

body {
	margin: 0;
  font: 0.8em @fonttext;
  color: #333;
}

b {
	font-family: @fonttextB;
	font-weight: normal;
}

i, a {
	font-family: @fonttextI;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

b i, i b {
	font-family: @fonttextBI;
}

h1, h2, h3 {
	text-shadow: 0 1px 0 #ffffff;
	font-family: @fonttitle;
}

h1 {
	font-size: 2em;
}

h1 b, h2 b, h3 b {
	font-family: @fonttitleB;
}

h1 i, h2 i, h3 i,
h1 a, h2 a, h3 a {
	font-family: @fonttitleI;
}

h1 b i, h2 b i, h3 b i, 
h1 i b, h2 i b, h3 i b {
	font-family: @fonttitleBI;
}

img {	border:0;}
.separation {	height: 10px;}
.centrage {	text-align: center;}
.centrer {
	margin-right: auto;
	margin-left: auto;
}

.clear {clear: both}
ol {list-style-type: decimal}
ul {list-style-type: none}

.curspointer {cursor: pointer;}
.underline {text-decoration: underline;}
.bold {font-family:@fonttextB;}

.lien {
	font-size:0.8em;
	color:#fff;
}

.lien_carte{
	color:#68551F;
	text-decoration: none;
        font-family:@fonttextB;
}

#content h2 {color:#933a25;font-size:1.5em;text-align: center;}
#content h3 {color:#933a25;font-size:1.3em;}

#content_bg_jeu h2 {color:#933a25;font-size:1.5em;text-align: center;}
#content_bg_jeu h3 {color:#933a25;font-size:1.3em;}

.demon_hr {
	background:url(../images/hr_demon.png) no-repeat 50% 50%;
	height: 40px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	border:0;
}

.ange_hr {
	background:url(../images/hr_ange.png) no-repeat 50% 50%;
	height: 40px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	border:0;
}

.escargot_hr {
	background:url(../images/hr_escargot.png) no-repeat 50% 50%;
	height: 40px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	border:0;
}


#page, #page_accueil {
	padding-top:60px;
        position: relative;    
}

body {
	background-color: @fond;
}


.logo {
	height: 175px; 
	width: 254px; 
	padding-right: 30px; 
	float: left;
}

#content_bg, #content_bg_jeu, #footer {
	min-width: 980px;
	max-width: 1500px;	
    width: 80%;
    padding: 30px;	
    padding-top: 0px;	
    padding-bottom: 10px;		
}


#content_bg_jeu, #content_bg, #content_accueil {
	margin-right: auto;
	margin-left: auto;
	
	background-color: @couleur1;
	
	border-radius: 10px 10px 0px 0px;
	padding-bottom: 0px;		
}

#content_bg_jeu, #content_bg, #content_accueil, #footer_accueil {
	border-right: 1px solid rgba(2, 2, 2, 0.28);
	border-left: 1px solid rgba(2, 2, 2, 0.28);
	border-top: 1px solid rgba(250, 250, 250, 0.27);
	box-shadow: rgba(255,255,255,0.3) 0 1px 0, rgba(0,0,0,0.3) 0 -1px 0;
	box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);		
}

#content_accueil {
    padding: 30px;
}

#footer_accueil, #footer {
	border-radius: 0px 0px 10px 10px;
    background-color: #111;
	color: white;
    margin: auto;	
}

#content_accueil, #footer_accueil {
    min-width: 800px;
    max-width: 1000px;	
}

#content_accueil, #footer_accueil, #footer {
    padding: 30px;	
    padding-top: 5px;	
    padding-bottom: 10px;	
}

#corps {
        padding-right: 185px;
}

#content fieldset {
    background-color: @couleur2;
}

#colonne {
        right: -185px;
        position: relative;    
	float:right;
	background-color:#1B1B1B;
	color:#fff;
	padding: 10px 10px 10px 10px;
	width:160px;
        border-radius: 0px 5px 0px 0px;
}
p#warning {	color : red; }


/*-- Formulaire --*/

.formulaire input, .formulaire textarea, .formulaire select {
	border-style:solid;
	border-width:1px;
	border-color:#4F4F4F;
	border-radius:5px;
	padding:1px 3px 1px 3px;
	/*cursor: pointer;*/
}

.formulaire input:hover,.formulaire textarea:hover,.formulaire input:focus,.formulaire textarea:focus,.formulaire select:focus,.formulaire select:focus{
	border-style:solid;
	border-width:1px;
	border-color:#AFAFAF;
	padding:1px 3px 1px 3px;	
	border-radius:5px;
}

/*-- Menu topbar --*/

#nav {
	
	background: rgb(154,203,246);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlhY2JmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzg3YmZmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iIzcxYjFmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MTk1ZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: linear-gradient(to bottom,  rgba(154,203,246,1) 0%,rgba(135,191,243,1) 33%,rgba(113,177,245,1) 34%,rgba(97,149,233,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9acbf6', endColorstr='#6195e9',GradientType=0 ); /* IE6-8 */
	box-shadow: 0px 1px 3px rgba(0,0,0, .4);
}       

#nav div {
    margin-right: auto;
    margin-left: auto;
    width: 1000px;    
}
        
#menuDeroulant {
	margin: 0;
	padding: 7px 6px 0;
	
	line-height: 100%;
}
#menuDeroulant li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}


/* main level link */
#menuDeroulant a {
	font-family: @fonttext;
	color: rgb(44, 42, 46);
	text-decoration: none;
	display: block;
	padding: 8px 20px;
	margin: 0;
	border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}
#menuDeroulant a:hover {
	background: #000;
	color: #fff;
}

/* main level link hover */
#menuDeroulant .current a, #menuDeroulant li:hover > a {
	background: rgb(255,255,255);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	color: #444;
	box-shadow: 0 1px 1px rgba(0,0,0, .2);
	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

/* sub levels link hover */
#menuDeroulant ul li:hover a, #menuDeroulant li:hover li a {
	background: none;
	border: none;
	color: #fff;

	box-shadow: none;
}

#menuDeroulant ul a:hover {
	background: #0078ff;
	background: #0078ff url(../images/gradient.png) repeat-x 0 -100px !important;
        
	color: #fff !important;

	border-radius: 0;

	text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* dropdown */
#menuDeroulant li:hover > ul {
	display: block;
}

/* level 2 list */
#menuDeroulant ul {
	display: none;

	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
        background: #000;
	/*background: #ddd url(../images/gradient.png) repeat-x 0 0;*/
	border: solid 1px #b4b4b4;

	border-radius: 10px;

	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#menuDeroulant ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#menuDeroulant ul a {
	/*font-weight: normal;*/
}

/* level 3+ list */
#menuDeroulant ul ul {
	left: 181px;
	top: -3px;
}

/* rounded corners of first and last link */
#menuDeroulant ul li:first-child > a {
        border-radius: 9px 9px 0px 0px;
}
#menuDeroulant ul li:last-child > a {
    border-radius: 0px 0px 9px 9px;
}

/* clearfix */
#menuDeroulant:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#menuDeroulant {
	display: block;
}     
     
#nav{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index:999999;
}
        
/*------ upgrades --------*/

.jeu_upgrades {
	padding-left: 50px;
}

.info_medaille {
	background-color:@couleur1;
	padding:5px;
	border: 1px solid @couleur3;
	border-radius:5px;
}

.mortel .tab_td_icone{
    background: #e6f0a3; /* Old browsers */
    background-image: linear-gradient(to bottom,  #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
}

.mortel {
    background: rgb(242,246,248); /* Old browsers */
    background-image: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C */
}

.mortel .fonce {
    background-color: transparent !important;
}

/*-- Sidebar --*/

.side_txt {
	font-size:1em;
	/*text-align:justify;*/
}

.side_lien {
	/*font-size:0.8em;*/
	color:#fff;
}

/*-- Damier carac --*/

#carac {
	margin:0px 5px 0px 5px;
}


/*-- Conteneur --*/
.conteneur{
	position:relative;
	background-color: @couleur2;
	margin-top:15px;
	padding:20px 10px 10px 10px;
	border: 1px solid @couleur3;
	border-radius:10px;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

.conteneur_st{
	position:relative;
	background-color: @couleur2;
	margin-top:10px;
	padding:10px 10px 10px 10px;
	border: 1px solid @couleur3;
	border-radius:10px;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

.conteneur_damier{
	position:relative;
	background-color: @couleur2;
	margin-top:10px;
	border: 1px solid @couleur3;
	border-radius:10px;
}
 
.conteneur_titre {
	position:absolute;
	background-color:@couleur3;
	color:@texte3;
	top:-10px;
	left:0px;
	margin-left:10px;
	padding: 1px 5px 1px 5px;
	border-radius:5px;
        box-shadow: 0 1px;
}

.maj_ok {
	border: dotted red 1px;
	background-color: #ff8d8d;
}

.action_ok {
	border: dotted red 1px;
	background-color: #A0FFCC;
}

.sort_ok {
	border: dotted red 1px;
	background-color: #A0CCFF;
}

.color_red, .color_green, .color_blue {
	font-size:1px;
	height:13px;
	border-radius:3px;
}

.color_red{
	background-color: rgb(255, 60, 67);
	width:80px;
	position:relative;
	float:right;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	z-index:7;
}

.color_green, .color_blue {
	float:left;
}

.color_green{
	background-color: rgb(163, 241, 150);
	z-index:8;
}

.color_blue {
	background-color: rgb(164, 165, 252);
	z-index:9;
}

.caracs_sup {
	position:absolute;
	top:-2px;
	left:15%;
	z-index:10;
}

.tab_carac_td{
	position:relative;
	float:left;
}



#columns .column{
	min-height: 200px; /* set a min-height to ensure a target dropzone */
}

#columns .target {
	border: 2px dashed #ccc;
	border-radius: 5px;
}


/**
* At
*/

#menuAt{
	float:left;
	width:200px;
	padding:5px;
	text-align:left;
}

#corpsAt{
	margin-left:210px;
	padding:5px; 
}

/**
* colonnes du jeu
*/


#columns .menu {
        
	float: left;
	width: 270px/*300*/;
	padding-left: 2px;
	padding-right: 2px;
}

#columns .menu_damier {
	float: left;
	width: 675px; /*610*/
	/*display: inline;*/
	padding-bottom: 10px;
	/*margin-right: 0px;*/
	margin-left: 5px;

	/*padding-left: 0px;
	padding-right: 0px;*/
	padding-bottom: 10px;
}


a.dropdown { font-family: @fonttextB; }

#connection { line-height:12px; }
#connection #perdu {
	font-size:0.8em;
	color:#3D9CE5;
	display: block;
	padding-left: 5px;
	padding-right: 0px; 
	background-image:none;
}

input[type="button"], input[type="submit"], .button {
    box-shadow: 0 1px;
    border-color: transparent;
    border-radius: 5px;
    background-color: @couleur3;
    color: @texte3;
    margin: 5px;	
}

input[type="button"]:hover, input[type="submit"]:hover, .button:hover, .button_selected {
    box-shadow: 0px 0px 5px blue !important;
    border-bottom: 1px solid rgba(0,0,0,0.5);

}

.button {
	padding: 5px;
}

.damier_faille_montagne_no,
.damier_faille_montagne_so,
.damier_faille_montagne_ne,
.damier_faille_montagne_se,
.damier_faille_montagne,
.damier_faille_herbe,
.damier_faille_plage {
  background-attachment: scroll, fixed;
}